<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Film Junkies</title>
</head>
<body>
    <header>
        <h1>The Film Junkies</h1>
        <img src="/assets/Logo.jpg" />
        <br><br>
        <form>
            <label for="search">Search</label>
            <input type="search" name="search" id="search" placeholder="Search for movies"/>
            <input type="Submit" value="Go" />
        </form>
    </header>
    <nav>
        <ul>
            <li><a href="index.html" target="_self">Home</a></li>
            <li><a href="/Movies/Movies.html" target="_blank">Movies</a></li>
            <li><a href="/TV Shows/TV Shows.html" target="_blank">TV Shows</a></li>
            <li><a href="/Contact Us/Contact.html" target="_blank">Contact Us</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>Movie Reviews</h2>
            <article>
                <h3><span style="color:red;">Cocaine Bear:</span>Movie Review </h3>
                <p>Elizabeth Banks has helmed a Pitch Perfect sequel 
                and now goes I.P.-FREE with her third film, which is actually based on a bear.</p>
                <div>
                    <h4>Cast</h4>
                    <ul>
                        <li><p>Ray Liotta</p></li>
                        <li><p>Keri Russel</p></li>
                        <li><p>Jesse Ferguson</p></li>
                    </ul>
                </div>
            </article>
            <article>
                <h3><span style="color:red;">Babylon:</span>Movie Review </h3>
                <p>Set in 1920s Hollywood during the transition from silent to talking pictures,
                    Babylon is all about decadence and how everyone simply wants more.
                </p>
                <div>
                    <h4>Cast</h4>
                    <ul>
                        <li><p>Brad Pitt</p></li>
                        <li><p>Margot Robbie</p></li>
                        <li><p>Diego Calva</p></li>
                    </ul>
                </div>
            </article>
        </section>
        <section>
            <h2>TV Shows Reviews</h2>
            <article>
                <h3 style="color: red;">The last of us</h3>
                <p>Joel and Ellie, a pair connected through the harshness of the world they live in
                  are forced to endure brutal circumstances and ruthless killers on a trek
                   across a post-outbreak America.</p>
            </article>
            <article>
                <h3 style="color: red;">Barry</h3>
                <p>Barry, who kills to earn a living, discovers the joy of acting while he is looking for his target.
                 Surprisingly, he loves it so much that he is ready to leave his old life behind.
                </p>
            </article>
        </section>
    </main>

    <aside id="Movies and TV Shows">
        <h2>Top rated Movies and TV Shows</h2>
        <ol type="1">
          <li style="color: red;">The Godfather</li>
          <li style="color: red;">Breaking Bad</li>
          <li style="color: red;">Game of Thrones</li>
        </ol>
    </aside>
    <div>
        <video 
        src="/Videos/Film Junkie.mp4"
        type="video/mp4"
        controls
        autoplay
        loop
        width="500px"
        height="500px"
        >
        </video>
    </div>
    <div>
        <iframe
        src="https://thefilmjunkies.com/"
        width="500px"
        height="500px"
        frameborder="0"
        allowfullscreen
        ></iframe>
    </div>
    <br><br>
    <footer>
        <a href="/Contact Us/Contact.html">Contact Us</a>
        <p> &copy; Copyright 2014-present. The Film Junkies. All Rights Reserved.</p>
    </footer>
    
</body>
</html>